.header {
    height: 70px;
    width: 100vw;
    position: fixed;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.527);
    z-index: 21;
    position: relative;
}

.maamourLogo {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 15px;
    top: 5px;
}

.title {
    color: #212E3E;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    padding-top: 10px;
    text-align: center;
    font-weight: 800;
}

.titleCustom {
    background-image: linear-gradient(to bottom, #FEAF01, #FF8E00);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleLink {
    text-decoration: none;
    color: black;
}

a {
    cursor: pointer;
}